html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

@font-face {
  font-family: Roboto-Bold;
  font-display: swap;
  src: url("../fonts/Roboto-Bold.woff") format("woff"), url("../fonts/Roboto-Bold.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Roboto-Regular;
  font-display: swap;
  src: url("../fonts/Roboto-Regular.woff") format("woff"), url("../fonts/Roboto-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}

body {
  background-color: #ffffff;
  font-family: Arial;
  height: 100%;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  min-height: 100vh;
}

.container {
  max-width: 1190px;
  margin: 0 auto;
  padding: 0 10px;
  height: 100%;
}

header {
  background-color: #e9e9e9;
  height: 100vh;
}

header:before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 60px;
  background-color: transparent;
  z-index: 3;
}

header div.header_burger {
  display: none;
}

.header_top {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  height: 60px;
}

.header_logo {
  position: relative;
  z-index: 3;
}

.header_logo .header_logo_title h1 {
  color: #fff;
}

header nav.header_menu ul.header_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  z-index: 3;
}

header nav.header_menu ul.header_list li {
  list-style: none;
  margin: 0 30px 0 0;
}

header nav.header_menu ul.header_list li:last-child {
  margin: 0;
}

header nav.header_menu ul.header_list li a.header_link {
  text-decoration: none;
  font-size: 12px;
  font-family: Roboto;
  font-weight: 500;
  color: #575757;
  -webkit-transition: all ease-in .2s;
  -o-transition: all ease-in .2s;
  transition: all ease-in .2s;
  text-transform: uppercase;
}

div.header_bottom {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: end;
}

div.header_bottom div.header_titles h1.header_title {
  font-size: 38px;
  color: #1d1d1d;
  font-family: "Segoi UI";
  font-weight: 700;
  margin: 0 0 40px 0;
}

div.header_bottom div.header_titles h3.header_subtitle {
  max-width: 445px;
  color: #787878;
  font-size: 18px;
  font-family: Roboto;
  margin: 0 0 40px 0;
}

section.about {
  padding: 100px 0;
  text-align: center;
}

section.about div.about_container.container div.about_title {
  margin: 0 0 50px 0;
  font-family: "Segoi UI";
  font-size: 30px;
  color: #191919;
  font-weight: 700;
}

section.about div.about_container.container div.about_subtitle {
  display: inline-block;
  text-align: center;
  max-width: 550px;
  font-size: 16px;
  color: #787878;
  font-family: Roboto;
  margin: 0 0 35px 0;
}

section.skills {
  background-color: #f8f9f9;
}

section.skills div.grid_wrapper-skills.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr;
}

section.skills div.grid_wrapper-skills.container div.grid_item-skills_data {
  padding: 165px 100px 165px 0;
}

section.skills div.grid_wrapper-skills.container div.grid_item-skills_data div.skills_data_title {
  font-family: "Segoi UI";
  font-size: 30px;
  color: #171717;
  margin: 0 0 40px 0;
}

section.skills div.grid_wrapper-skills.container div.grid_item-skills_data div.skills_data_progress-container div.skills_data_progress_item {
  margin: 0 0 40px 0;
}

section.skills div.grid_wrapper-skills.container div.grid_item-skills_data div.skills_data_progress-container div.skills_data_progress_item div.skills_progress_title {
  font-size: 12px;
  color: #323232;
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 20px 0;
}

section.skills div.grid_wrapper-skills.container div.grid_item-skills_data div.skills_data_progress-container div.skills_data_progress_item div.skills_progress_title span.skills_progress_percent {
  font-size: 12px;
  color: #323232;
  font-weight: 700;
  margin: 0 0 0 15px;
}

section.skills div.grid_wrapper-skills.container div.grid_item-skills_data div.skills_data_progress-container div.skills_data_progress_item div.skills_progress_wrap {
  height: 4px;
  background-color: #d8d8d8;
  width: 100%;
}

section.skills div.grid_wrapper-skills.container div.grid_item-skills_data div.skills_data_progress-container div.skills_data_progress_item div.skills_progress_wrap div.progress_line {
  display: block;
  height: 100%;
  width: 0;
  background-color: #10c9c3;
}

section.skills div.grid_wrapper-skills.container div.grid_item-skill_img div.skill_img_container {
  height: 100%;
  position: relative;
}

section.skills div.grid_wrapper-skills.container div.grid_item-skill_img div.skill_img_container img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
}

section.numbers {
  background-color: #10c9c3;
}

section.numbers div.grid_wrapper-number.container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 100px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  justify-items: center;
}

section.numbers div.grid_wrapper-number.container div.grid_item-number {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 10px;
}

section.numbers div.grid_wrapper-number.container div.grid_item-number div.number_icon {
  margin: 0 15px 0 0;
}

section.numbers div.grid_wrapper-number.container div.grid_item-number div.number_titles div.number_num {
  font-size: 18px;
  font-family: "Segoi UI";
  font-weight: 700;
  color: #fff;
  margin: 0 0 15px 0;
}

section.numbers div.grid_wrapper-number.container div.grid_item-number div.number_titles div.number_title {
  text-transform: uppercase;
  font-size: 12px;
  color: #fff;
}

section.works div.grid_wrapper-works {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
}

section.works div.grid_wrapper-works div.grid_item-work {
  position: relative;
}

section.works div.grid_wrapper-works div.grid_item-work:hover .works_hover_see {
  opacity: 1;
}

section.works div.grid_wrapper-works div.grid_item-work div.work_img {
  width: 100%;
  height: 100%;
}

section.works div.grid_wrapper-works div.grid_item-work div.work_img img {
  width: 100%;
  height: 100%;
}

section.works div.grid_wrapper-works div.grid_item-work div.works_hover_see {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  z-index: 2;
  -webkit-transition: all ease-in .2s;
  -o-transition: all ease-in .2s;
  transition: all ease-in .2s;
  background-color: rgba(129, 177, 248, 0.789);
}

section.works div.works_btn button.btn-work {
  display: block;
  width: 100%;
  padding: 20px 0;
  text-transform: uppercase;
  color: grey;
  font-family: Arial;
  background-color: #f5f5f5;
  border: none;
}

section.process {
  padding: 100px 0;
}

section.process div.container div.process_titles {
  text-align: center;
  margin: 0 0 60px 0;
}

section.process div.container div.process_titles div.process_title {
  margin: 0 0 50px 0;
  font-family: "Segoi UI";
  font-size: 30px;
  color: #191919;
  font-weight: 700;
}

section.process div.container div.process_titles div.process_subtitle {
  display: inline-block;
  text-align: center;
  max-width: 550px;
  font-size: 16px;
  color: #787878;
  font-family: 'Segoi UI';
}

section.process div.container div.process_video {
  width: 100%;
  position: relative;
}

section.process div.container div.process_video img {
  width: 100%;
}

section.process div.container div.process_video img.icon_play {
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  width: auto;
}

section.services {
  background-color: #f5f5f5;
  padding: 100px 0;
}

section.services div.grid_wrapper-services.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
  grid-template-rows: repeat(2, 1fr);
  row-gap: 60px;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.services div.grid_wrapper-services.container div.grid_item-service {
  text-align: center;
}

section.services div.grid_wrapper-services.container div.grid_item-service div.service_title {
  color: #161616;
  font-size: 12px;
  font-weight: 700;
  font-family: Roboto;
  text-transform: uppercase;
  margin: 30px 0 20px 0;
}

section.services div.grid_wrapper-services.container div.grid_item-service div.service_subtitle {
  display: inline-block;
  max-width: 210px;
  font-size: 16px;
  color: #787878;
  text-align: center;
}

section.testimonials {
  background-color: #10c9c3;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  padding: 100px 0 20px 0;
}

section.testimonials div.container div.testimonials_slider div.testimonials_slide.hide {
  display: none;
}

section.testimonials div.container div.testimonials_slider div.testimonials_slide div.testimonials_quot {
  display: inline-block;
  text-align: center;
  max-width: 800px;
  font-size: 26px;
  color: #fff;
  line-height: 1.4;
  margin: 0 0 40px 0;
  font-family: "Segoi UI";
  font-weight: 700;
}

section.testimonials div.container div.testimonials_slider div.testimonials_slide div.testimonials_author {
  text-align: center;
  font-size: 12px;
  color: #fff;
  font-family: Roboto;
  margin: 0 0 110px 0;
  text-transform: uppercase;
}

section.testimonials div.container div.testimonials_slider div.slider_dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.testimonials div.container div.testimonials_slider div.slider_dots div.slider_dot {
  background-color: #b0e8e6;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  margin: 0 10px 0 0;
}

section.testimonials div.container div.testimonials_slider div.slider_dots div.slider_dot.dot_active {
  width: 10px;
  height: 10px;
  background-color: #fff;
}

section.clients {
  padding: 0 0 20px 0;
}

section.clients div.grid_wrapper-clients.container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(170px, 1fr));
  grid-template-rows: 235px;
  justify-items: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

section.contact {
  background-color: #f5f5f5;
  padding: 100px 0;
}

section.contact div.grid_wrapper-contact.container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr;
  justify-items: center;
}

section.contact div.grid_wrapper-contact.container div.contact_titles {
  text-align: center;
  margin: 0 0 60px 0;
}

section.contact div.grid_wrapper-contact.container div.contact_titles div.contact_title {
  margin: 0 0 50px 0;
  font-family: "Segoi UI";
  font-size: 30px;
  color: #191919;
  font-weight: 700;
}

section.contact div.grid_wrapper-contact.container div.contact_titles div.contact_subtitle {
  display: inline-block;
  text-align: center;
  max-width: 550px;
  font-size: 16px;
  color: #787878;
  font-family: Roboto;
}

section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: repeat(6, 1fr);
  justify-items: center;
  row-gap: 30px;
  -webkit-column-gap: 15px;
  -moz-column-gap: 15px;
  column-gap: 15px;
}

section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input {
  width: 100%;
}

section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input input {
  border: none;
  padding: 20px;
  background-color: #fff;
  text-transform: uppercase;
  font-size: 15px;
  font-family: Roboto;
  color: #787878;
  display: block;
}

section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input.contact_form-input_first {
  grid-column: 1 / 2;
}

section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input.contact_form-input_second {
  grid-column: 2 / 3;
}

section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input.contact_form-input_second input {
  width: 100%;
}

section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input.contact_form-input_simple {
  grid-column: 1 / 3;
  grid-row: 2 / 3;
}

section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input.contact_form-input_simple input {
  width: 100%;
}

section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input.contact_form-input_big {
  grid-column: 1 / 3;
  grid-row: 3 / 5;
}

section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input.contact_form-input_big input {
  width: 100%;
  height: 88%;
}

section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input.contact_form-input_btn {
  grid-column: span 3;
  grid-row: span 2;
  text-align: center;
  align-self: center;
}

footer.footer {
  background-color: #141414;
  padding: 100px 0;
}

footer.footer div.grid_wrapper-footer.container {
  display: grid;
  grid-template-rows: 1fr;
  grid-template-columns: 280px 2fr 0.3fr 0.3fr 1fr;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-copyright div.copyright_title {
  font-size: 18px;
  color: #d5d5d5;
  font-family: Roboto;
  margin: 0 0 30px 0;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-copyright div.copyright_subtitle {
  color: #7a7a7a;
  font-size: 15px;
  font-family: Roboto;
  line-height: 1.4;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-contact_data {
  justify-self: center;
  -ms-flex-item-align: start;
  align-self: start;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-contact_data div.contact_data {
  margin: 0 0 15px 0;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-contact_data div.contact_data a {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 15px;
  font-family: Roboto;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-footer_links {
  justify-self: center;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-footer_links ul.footer_links_list li {
  margin: 0 0 15px 0;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-footer_links ul.footer_links_list li a.footer_links_link {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 15px;
  font-family: Roboto;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-footer_target {
  justify-self: center;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-footer_target ul.footer_links_list li {
  margin: 0 0 15px 0;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-footer_target ul.footer_links_list li a.footer_links_link {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 15px;
  font-family: Roboto;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-footer_socials {
  justify-self: end;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-footer_socials ul.footer_links_list li {
  margin: 0 0 15px 0;
}

footer.footer div.grid_wrapper-footer.container div.grid_item-footer_socials ul.footer_links_list li a.footer_links_link {
  text-decoration: none;
  color: #7a7a7a;
  font-size: 15px;
  font-family: Roboto;
}

.link-filled {
  padding: 23px 40px;
  color: #eae6e6;
  border: none;
  background-color: #10c9c3;
  -webkit-transition: all ease-in .2s;
  -o-transition: all ease-in .2s;
  transition: all ease-in .2s;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 700;
  text-decoration: none;
  display: inline-block;
}

.link-filled:hover {
  background-color: #19b6b19f;
  cursor: pointer;
}

@media screen and (max-width: 769px) {
  section.about {
    padding: 40px 0;
  }

  section.skills div.grid_wrapper-skills.container div.grid_item-skills_data {
    padding: 60px 10px 60px 0;
  }

  section.works div.grid_wrapper-works {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
  }

  section.services {
    padding: 30px 0;
  }

  section.testimonials {
    padding: 20px 0;
  }

  section.testimonials div.container div.testimonials_slider div.testimonials_slide div.testimonials_quot {
    font-size: 20px;
  }

  section.testimonials div.container div.testimonials_slider div.testimonials_slide div.testimonials_author {
    margin: 0 0 60px 0;
  }

  section.contact {
    padding: 30px 0;
  }

  section.contact div.grid_wrapper-contact.container div.contact_titles {
    margin: 0 0 30px 0;
  }

  footer.footer {
    padding: 40px 0;
  }

  footer.footer div.grid_wrapper-footer.container {
    grid-template-columns: 1fr 2fr 1fr;
    grid-template-rows: 1fr 1fr;
  }

  footer.footer div.grid_wrapper-footer.container div.grid_item-copyright {
    grid-row: 2 / 3;
    grid-column: 1 / 3;
  }

  footer.footer div.grid_wrapper-footer.container div.grid_item-contact_data {
    grid-row: 2 / 3;
  }

  footer.footer div.grid_wrapper-footer.container div.grid_item-footer_socials {
    justify-self: center;
  }
}

@media screen and (max-width: 768px) {
  body.lock {
    overflow: hidden;
  }

  header div.header_burger {
    display: block;
    position: relative;
    width: 30px;
    height: 20px;
    z-index: 4;
  }

  .header_burger::before,
  .header_burger::after {
    content: '';
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 2px;
    left: 0;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
  }

  .header_burger:before {
    top: 0;
  }

  .header_burger:after {
    bottom: 0;
  }

  header div.header_burger span {
    position: absolute;
    left: 0;
    top: 9px;
    background-color: #000;
    width: 100%;
    height: 2px;
    -webkit-transition: all ease-in-out .3s;
    -o-transition: all ease-in-out .3s;
    transition: all ease-in-out .3s;
  }

  header nav.header_menu {
    position: fixed;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #0000006b;
    -webkit-transition: all ease-in-out .4s;
    -o-transition: all ease-in-out .4s;
    transition: all ease-in-out .4s;
    font-size: 20px;
    overflow: auto;
  }

  header nav.header_menu.active {
    top: 0;
  }

  header nav.header_menu ul.header_list {
    display: block;
    padding: 60px 0 0 0;
    text-align: center;
  }

  header nav.header_menu ul.header_list li {
    margin: 0 0 10px 0;
  }

  header nav.header_menu ul.header_list li a.header_link {
    font-size: 20px;
    color: #fff;
  }

  header div.header_burger.active:before {
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
    top: 9px;
  }

  header div.header_burger.active:after {
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    bottom: 9px;
  }

  header div.header_burger.active span {
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    transform: scale(0);
  }
}

@media screen and (max-width: 600px) {
  section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(6, 1fr);
  }

  section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input.contact_form-input_first input {
    width: 100%;
  }

  section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input.contact_form-input_second {
    grid-column: 1 / 2;
    grid-row: 2 / 3;
  }

  section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input.contact_form-input_simple {
    grid-column: 1 / 2;
    grid-row: 3 / 4;
  }

  section.contact div.grid_wrapper-contact.container form.grid_wrapper-contact_form div.contact_form-input.contact_form-input_big {
    grid-column: 1 / 2;
    grid-row: 4 / 5;
  }
}

@media screen and (max-width: 580px) {
  section.numbers div.grid_wrapper-number.container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(2, 1fr);
  }
}

@media screen and (max-width: 525px) {
  section.clients div.grid_wrapper-clients.container {
    padding: 30px 0 0 0;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    row-gap: 20px;
  }
}

@media screen and (max-width: 426px) {
  div.header_bottom div.header_titles h1.header_title {
    font-size: 26px;
  }

  section.skills div.grid_wrapper-skills.container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
  }

  section.skills div.grid_wrapper-skills.container div.grid_item-skills_data {
    padding: 60px 0 0 0;
  }

  section.skills div.grid_wrapper-skills.container div.grid_item-skills_data div.skills_data_title {
    font-size: 22px;
  }

  section.works div.grid_wrapper-works {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(auto-fit, 1fr);
  }

  section.testimonials div.container div.testimonials_slider div.testimonials_slide div.testimonials_quot {
    font-size: 18px;
  }

  section.testimonials div.container div.testimonials_slider div.testimonials_slide div.testimonials_author {
    margin: 0 0 30px 0;
  }
}

@media screen and (max-width: 350px) {
  footer.footer div.grid_wrapper-footer.container {
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: [start] 1fr [row-2] 1fr [row-end] 1fr;
  }

  footer.footer div.grid_wrapper-footer.container div.grid_item-copyright {
    grid-row: row-end;
    grid-column: 1 / 4;
  }

  footer.footer div.grid_wrapper-footer.container div.grid_item-contact_data {
    grid-row: row-2;
    grid-column: 1 / 4;
    justify-self: start;
    align-self: center;
  }
}